<p>商品登録</p>
<%= form_with model: @item, local: true do |f| %>
  <p>商品名：<%= f.text_field :name %></p>
  <p>価格：<%= f.text_field :price %></p>
  <%= f.submit "登録"%>
<% end %>
<%= link_to "戻る",items_path %>